@media (max-width: 1440px) {
    .time-address-area {
        margin-top: -206px;
    }
}

@media (max-width: 1199px) {
    .main-banner-area {
        width: 100%;
        padding-left: 58px;
        padding-top: 175px;
        padding-bottom: 220px;
    }
}

@media (max-width: 992px) {
    .other-option {
        margin: 25px;
    }

    .area-d-block {
        display: none;
    }

    .area-d-none {
        display: block;
    }

    .main-banner-flex {
        align-items: center;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .banner-area-img {
        position: relative;
        text-align: right;
        z-index: 9;
        left: 0px;
    }

    .main-banner-area {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .time-address-area {
        padding: 0px 0 100px 0;
        margin-top: 0px;
    }

    .about-area {
        padding: 99px 0 100px 0;
        margin-top: 0;
    }

    .content-box-zone {
        margin-top: 30px;
    }

    .about-area-content {
        padding-top: 30px;
    }

    .we-provied-area-content {
        padding-top: 30px;
    }

    .footer-about-area {
        margin-top: 30px;
    }

    .footer-link-arae {
        margin-top: 30px;
    }

    .banner-area-img img:nth-child(2) {
        position: absolute;
        left: -1px;
        top: 42px;
    }

}

@media (max-width: 768px) {
    .about-img-wrapper img {
        width: 100%;
        padding: 30px 30px 30px 30px;
        position: relative;
        left: 0;
    }

    .we-provied-img-wrapper img {
        width: 100%;
        padding: 30px 30px 30px 30px;
        position: relative;
        left: 0;
    }

}

@media (max-width: 576px) {
    .main-banner-area {
        padding-left: 30px;
    }

    h1 {
        font-size: 51px;
        font-weight: bold;
        line-height: 59px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 361px) {}